<div class="top-banner">
	<a href="" class="top-banner-link"><svg fill="#F50" role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 79.8" preserveAspectRatio="xMidYMax meet"><path d="M83.1 42.9L43.7 3.5c-4.7-4.7-12.3-4.7-17 0L3.5 26.7c-4.7 4.7-4.7 12.3 0 17l27.9 27.9c11 11 29.1 11 40.1 0L83.1 60c4.7-4.8 4.7-12.4 0-17.1zm-9 13.7l-7.6 7.6c-8.3 8.3-21.8 8.3-30.1 0L12.5 40.4c-2.9-2.9-2.9-7.6 0-10.4L30 12.5c2.9-2.9 7.6-2.9 10.4 0l33.7 33.7c2.8 2.9 2.8 7.6 0 10.4z"></path><path d="M44.4 31.7l-3.1 3.1c-1.7 1.7-4.4 1.7-6 0l-6-6c-1.7-1.7-1.7-4.4 0-6l3.1-3.1c1.7-1.7 4.4-1.7 6 0l6 6c1.7 1.6 1.7 4.3 0 6z"></path></svg><span>Activate SIM</span></a>
	<a href="" class="top-banner-link" id="top-banner-right-item"><svg fill="#F50" role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 79.8" preserveAspectRatio="xMidYMax meet"><path d="M36.9 46.9c-12.9 0-23.4-10.5-23.4-23.4S24 0 36.9 0s23.4 10.5 23.4 23.4-10.5 23.5-23.4 23.5zm0-38.9c-8.5 0-15.5 6.9-15.5 15.5s7 15.4 15.5 15.4S52.4 32 52.4 23.4 45.4 8 36.9 8z"></path><path d="M69.8 79.7c-2.2 0-4-1.8-4-4 0-15.9-12.9-28.9-28.9-28.9S8 59.8 8 75.7c0 2.2-1.8 4-4 4s-4-1.8-4-4c0-20.3 16.5-36.8 36.8-36.8s36.8 16.5 36.8 36.8c.1 2.2-1.6 4-3.8 4z"></path></svg><span>Login</span></a>
</div>
<div class="nav-bar">
	<div class="nav-bar-title">
		<div class="nav-bar-link">
			<%= link_to root_path do %>
				<svg fill="#FFF" xmlns="http://www.w3.org/2000/svg" width="116" height="22" viewBox="0 -4 116 22" role="img" aria-labelledby="logo-title">
	         	<title id="logo-title">Amaysim</title>
	          	<path d="M33.3,0c-2,0-3.5,0.9-4.8,2.3C27.3,0.9,25.8,0,23.8,0c-3.8,0-6.5,3.1-6.5,6.8v8h3.6V6.6 c0-1.8,1.1-3.4,2.9-3.4h0c1.9,0,3.1,1.6,3.1,3.4v8.2h-0.1h3.6h0.1V6.6c0-1.8,1.1-3.4,2.9-3.4h0c1.9,0,3.1,1.6,3.1,3.4v8.2H40v-8 C40,3.1,37.2,0,33.3,0z"></path>
	          	<rect x="87.8" y="0.4" width="3.6" height="14.4"></rect>
	          	<path d="M81.4,6.2L80.1,6c-1.3-0.2-2.4-0.5-2.4-1.5c0-1,0.8-1.5,2.6-1.5c1.8,0,3.4,0.7,4.3,1.2l0-0.1l1.2-2.6 C84.3,0.6,82.3,0,80.1,0c-3.7,0-6,1.8-6,4.6c0,2.3,1.7,3.8,4.9,4.2l1.5,0.2c1.7,0.2,2.3,0.8,2.3,1.7c0,1.1-0.9,1.5-3,1.5 c-2.3,0-3.8-0.7-4.8-1.5l-1.1,2.7c2,1.3,4.5,1.6,5.9,1.6c4.2,0,6.6-1.9,6.6-4.7C86.3,8,84.5,6.6,81.4,6.2z"></path>
	          	<path d="M70.4,0.4c-1.7,4-4.2,9.9-4.2,9.9C64.6,6.5,63,2.9,62,0.4 c-2,0-2.2,0-3.8,0c1.3,3.1,3.8,8.9,6.1,14.4c0,0-1.7,4-3.1,7.2c2.1,0,0.9,0,3.9,0c2.8-6.5,7.3-17.1,9.3-21.6 C72.8,0.4,72.4,0.4,70.4,0.4z"></path>
	          	<path d="M53.5,0.4v1.2C52.3,0.7,50.7,0,49,0c-4.2,0-7.7,3.4-7.7,7.6s3.4,7.6,7.7,7.6c1.7,0,3.2-0.7,4.5-1.6v1.2H57 V0.4H53.5z M49,11.8c-2.4,0-4.3-1.9-4.3-4.2c0-2.3,1.9-4.2,4.3-4.2c2.4,0,4.3,1.9,4.3,4.2C53.3,9.9,51.4,11.8,49,11.8z"></path>
	          	<path d="M109.4,0c-2,0-3.5,0.9-4.8,2.3c-1.3-1.4-2.7-2.3-4.8-2.3c-3.8,0-6.5,3.1-6.5,6.8v8h3.6V6.6 c0-1.8,1.1-3.4,2.9-3.4h0c1.9,0,3.1,1.6,3.1,3.4v8.2h-0.1h3.6h0.1V6.6c0-1.8,1.1-3.4,2.9-3.4h0c1.9,0,3.1,1.6,3.1,3.4v8.2h3.6v-8 C116,3.1,113.2,0,109.4,0z">	</path>
	          	<path d="M12.1,0.4v1.2C10.9,0.7,9.3,0,7.7,0C3.4,0,0,3.4,0,7.6s3.4,7.6,7.7,7.6c1.7,0,3.2-0.7,4.5-1.6v1.2h3.5V0.4 H12.1z M7.6,11.8c-2.4,0-4.3-1.9-4.3-4.2c0-2.3,1.9-4.2,4.3-4.2c2.4,0,4.3,1.9,4.3,4.2C11.9,9.9,10,11.8,7.6,11.8z"></path>
	        	</svg>
			<% end %>
		</div>
	</div>
	<ul class="nav-bar-elements">
		<li class="nav-bar-link-wrapper">
			<a href="" class="nav-bar-link">plans<i class="material-icons down-arrow-icon">arrow_drop_down</i></a>
			<ul>
				<li><a href="">mobile plans</a></li>
				<li><a href="">nbn plans</a></li>
				<li><a href="">data-only plans</a></li>
			</ul>
		</li>
		<li class="nav-bar-link-wrapper">
			<a href="" class="nav-bar-link">about<i class="material-icons down-arrow-icon">arrow_drop_down</i></a>
		</li>
		<li class="nav-bar-link-wrapper">
			<a href="" class="nav-bar-link">help</a>
		</li>
		<i class="material-icons" id="search-icon">search</i>
	</ul>
</div>