<div class="index-banner">
	<div class="index-banner-text-box">
		<h1>win a Google Home, Chromecast Ultra and a year of nbn™</h1>
		<p>Sign up to any nbn plan before 31 August to go into the draw. Plans start from $40 a month.</p>
		<div class="index-banner-button">sign up <i class="material-icons">chevron_right</i></div>
	</div>
	<div class="index-banner-image"><img src="https://www.amaysim.com.au/sites/default/files/styles/retina_2x/public/2017-08/Header_Image-nbn-com-2.png?itok=cnLdQHJt"></div>
</div>
<div class="icon-row">
	<div class="icon-element" id="icon-element-one">
		<img src="https://www.amaysim.com.au/sites/default/files/2017-04/lock_dash_mint.svg">
		<div class="icon-element-text">
			<h1>no lock-in contracts</h1>
			<p>Freedom to switch your plan or cancel at any time.</p>
		</div>
	</div>
	<div class="icon-element" id="icon-element-two">
		<img src="https://www.amaysim.com.au/sites/default/files/2017-04/join_dash_mint.svg">
		<div class="icon-element-text">
			<h1>simple to join</h1>
			<p>Quick and easy online sign-up, we’ll take care of all the fiddly bits.</p>
		</div>
	</div>
	<div class="icon-element" id="icon-element-three">
		<img src="https://www.amaysim.com.au/sites/default/files/2017-04/app_dash_mint.svg">
		<div class="icon-element-text">
			<h1>easy to manage</h1>
			<p><a href="">Download our app</a> or manage your plans online.</p>
		</div>
	</div>
</div>
<div class="panel-row">
	<div class="panel-element" id="panel-element-one">
		<h1>sim-only mobile plans</h1>
		<p>Unlimited standard talk & text with heaps of data for use in Oz.</p>
		<img src="https://www.amaysim.com.au/sites/default/files/styles/coloured_callout_2x/public/cta/2017-05/mobile%20plans.png?itok=69f-sg5G">
		<div class="panel-a-background">
			<a href="">mobile plans</a>
		</div>
	</div>
	<div class="panel-element" id="panel-element-two">
		<h1>nbn broadband plans</h1>
		<p>Unlimited data with superfast speeds. No lock-in contracts.</p>
		<img src="https://www.amaysim.com.au/sites/default/files/styles/coloured_callout_2x/public/cta/2017-05/nbn.png?itok=YemmV9dC">
		<div class="panel-a-background">
			<a href="">nbn plans</a>
		</div>
	</div>	
	<div class="panel-element" id="panel-element-three">
		<h1>data-only plans</h1>
		<p>Mobile broadband for your tablets and devices, for use in Oz.</p>
		<img src="https://www.amaysim.com.au/sites/default/files/styles/coloured_callout_2x/public/cta/2017-05/data%20only.png?itok=dGtEaTb5">
		<div class="panel-a-background">
			<a href="">data-only plans</a>
		</div>
	</div>
</div>

<div class="ad-row">
	<img src="https://www.amaysim.com.au/sites/default/files/cta/2017-07/website_award_2016-2017.png">
	<div class="ad-row-text">
		<h1>93% of our customers have recommended amaysim to their mates</h1>
		<p>NPS tracking survey of 2679 customers, May 2017</p>
	</div>
	<div class="ad-button">compare plans <i class="material-icons">chevron_right</i></div>
</div>